/*Section*/
.degree-section {
  padding: 3rem 1.5rem;
}

/*Section heading */
.section-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #3d2d8f;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 2px;
}


/*Card grid*/
.degree-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr)); /*controls spacing between individual cards*/
  gap: 10px; /* controls both row and column spacing */
  justify-items: center;
  margin-right:25px
}


/*Individual card*/
.degree-card {
  height: 180px;
  aspect-ratio:1/1;
  border: 1px solid #103888;
  border-radius: 12px;
  column-gap:10px;
  row-gap:6px;
  padding: 1.25rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  transition: border-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
  background: linear-gradient(150deg, #b9c5fc, #130f5d);
}


.degree-card:hover{
  border-color: rgb(81,81,239);
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.07);
}

/*Icon box*/
.degree-icon {
  width: 52px;
  height: 52px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 4px;
}

/*Card title*/
.degree-card h3 {
  font-size: 21px;
  font-weight: 600;
  font-family:'candara',sans-serif;
  color: #000000;
  margin: 0;
}

/*Card description*/
.degree-card p {
  font-size: 18px;
  font-family: 'candara',sans-serif;
  color: #ffffff;
}

/*Arrow*/
.degree-arrow {
  font-size: 14px;
  color: #ffffff;
  transition: color 0.2s ease;
}

.degree-card:hover .deg-arrow {
  color: #000000;
}



